$baseline: 16px;
$fontsize-xsmall: $baseline / 2;
$fontsize-small:  $baseline / (1.5);
$fontsize-normal: $baseline;
$fontsize-medium: $baseline * 2;
$fontsize-large:  $baseline * 3;

// WE'RE ON THE GRID, MOTHER FUCKER!

$collumn-max: 17;
$column: 48px;
$gutter: 12px;

@mixin grid ($span, $offset: 0px) { width:  ($column * $span) + ($gutter * ($span - 1)) + $offset; }

// Site-wide Variables

$site-fontfamily: "bariol", sans-serif;


// COLORS

$site-color-bg:   #000;
$site-color-font: #fff;
	
$selection-color: #b7d6ee; // when a user highlights text this is the super duper color!


body {		
    min-width: 1680px;
    background: $site-color-bg;
	color: $site-color-font;

	text-transform: none;
	text-decoration: none;
	text-align: left;
	
	word-wrap: normal;
	
	font-variant: normal;
	font-style: normal;
	font-weight: 500;
	font-size: $fontsize-normal;
	font-family: $site-fontfamily;
			
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: $selection-color; 
}

::selection 	 	{ background: $selection-color; }
::-moz-selection 	{ background: $selection-color; }
img::selection 		{ background: $selection-color; }
img::-moz-selection	{ background: $selection-color; } 



a        { color: $site-color-font; text-decoration: underline; }
a:hover  { color: $site-color-font; text-decoration: underline; }
a:active { color: $site-color-font; text-decoration: underline; }

em, cite { font-style: italic; font-weight: normal; }
hr       { display: none; }


// DEFAULTS


* { @include box-sizing(border-box); *behavior: url(assets/library/boxsizing.htc); }

.left  { float: left; }
.right { float: right; }

.block { display: block; }
.inline { display: inline-block; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed;}

.clearfix { @include clearfix(); }