/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, scss/style/_base.scss */
body {
  background: white;
  color: #333333;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  word-wrap: normal;
  font-variant: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #eeccb7;
}

/* line 23, scss/style/_base.scss */
::selection {
  background: #eeccb7;
}

/* line 24, scss/style/_base.scss */
::-moz-selection {
  background: #eeccb7;
}

/* line 25, scss/style/_base.scss */
img::selection {
  background: #eeccb7;
}

/* line 26, scss/style/_base.scss */
img::-moz-selection {
  background: #eeccb7;
}

/* line 30, scss/style/_base.scss */
a {
  color: #333333;
  border-bottom: 1px dotted #333333;
  text-decoration: none;
}

/* line 31, scss/style/_base.scss */
a:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}

/* line 32, scss/style/_base.scss */
a:active {
  color: #333333;
  border-bottom: 1px solid #333333;
}

/* line 34, scss/style/_base.scss */
em, cite {
  font-style: italic;
  font-weight: 500;
}

/* line 35, scss/style/_base.scss */
hr {
  display: none;
}

/* line 41, scss/style/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(assets/library/boxsizing.htc);
}

/* line 43, scss/style/_base.scss */
.left {
  float: left;
}

/* line 44, scss/style/_base.scss */
.right {
  float: right;
}

/* line 46, scss/style/_base.scss */
.block {
  display: block;
}

/* line 47, scss/style/_base.scss */
.inline {
  display: inline-block;
}

/* line 49, scss/style/_base.scss */
.relative {
  position: relative;
}

/* line 50, scss/style/_base.scss */
.absolute {
  position: absolute;
}

/* line 51, scss/style/_base.scss */
.fixed {
  position: fixed;
}

/* line 53, scss/style/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
