// WE'RE ON THE GRID, MOTHER FUCKER!

$max: 18;
$column: 48px;
$gutter: 12px;
$gridtotes: $column + $gutter;

@mixin grid ($span, $offset: 0px) { width:  ($column * $span) + ($gutter * ($span - 1)) + $offset; }

// responsive breakpoints

$respond-mobile: "only screen and (max-width: 480px)";
$respond-tablet: "only screen and (min-width: 481px)  and (max-width: 768px)";
$respond-small:  "only screen and (min-width: 769px)  and (max-width: 1152px)"; // small screens
$respond-screen: "only screen and (min-width: 1153px) and (max-width: 1440px)"; // standard deploy
$respond-large:  "only screen and (min-width: 1441px) and (max-width: 1919px)";  // large screens
$respond-huge:   "only screen and (min-width: 1920px)";  // huge screens (HD and up)

// responsive special

$respond-retina:  "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";

// respond to the grid

@mixin respond ($media) {
    @if ($media == mobile) { @media #{$respond-mobile} { @content; }}
    @if ($media == tablet) { @media #{$respond-tablet} { @content; }}
    @if ($media == small)  { @media #{$respond-small}  { @content; }}
    @if ($media == screen) { @media #{$respond-screen} { @content; }}
    @if ($media == large)  { @media #{$respond-large}  { @content; }}
    @if ($media == huge)   { @media #{$respond-huge}   { @content; }}
}

//  respond the grid

@mixin rgrid ($media) {
    @if ($media == mobile) { width: 100%; }
    @if ($media == tablet) { @include grid(8);  }
    @if ($media == small)  { @include grid(12); }
    @if ($media == screen) { @include grid(18); }
    @if ($media == large)  { @include grid(24); }
    @if ($media == huge)   { @include grid(32); }
}
