// Site-wide Variables

$site-fontfamily: Helvetica, Arial, Tahoma, sans-serif;

// COLORS

$site-color-bg:   #fff;
$site-color-font: #222;

$selection-color: #eeccb7; // when a user highlights text this is the super duper color!


//font sizes

$baseline: 14px;
$fontsize-xsmall: $baseline / 2;
$fontsize-small:  $baseline / (1.5);
$fontsize-normal: $baseline;
$fontsize-medium: $baseline * 2;
$fontsize-large:  $baseline * 3;

// site spacing, keep it consistant bitches

$spacing: 12px;
$spacing-double: $spacing * 2;
$spacing-quad:   $spacing * 4;
$spacing-half:   $spacing / 2;
$spacing-fourth: $spacing / 4;